html {
    font-family: 'Noto Sans JP', sans-serif;
}

button,
input,
select,
textarea,
pre,
th,
td,
li,
dt,
dd {
    font-family: 'Noto Sans JP', sans-serif;
}

#header {
    text-align: center;
}


#title {
    font-size: 300%;
}

#body {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 30%;
    min-width: 500px;
    border: solid 1px;
}

#startButton {
    background-color: rgb(255, 14, 14);
    color: white;
    margin: 10px;
    padding: 10px 20%;
    border-radius: 100px;
    font-size: 100%;
}

#buttons {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

#status {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
}

#status>div {
    margin-left: 10px;
    margin-right: 10px;
}

#time {
    font-size: 2em;
}


#problem {
    font-size: 2em;
}

#tweetButtonImage {
    margin: 10px;
    width: 4vh;
    position: relative;
}

a {
    color: #503c14;
    text-decoration: none;
}



#cleanButton {
    background-color: rgb(144, 211, 179);
    color: white;
    padding: 10px 20%;
    margin: 10px;
    border-radius: 100px;
    font-size: 100%;
}

#answerButton {
    background-color: rgb(225, 62, 62);
    color: white;
    padding: 10px 20%;
    margin: 10px;
    border-radius: 100px;
    font-size: 100%;
}